.task {
  width: 46rem;
  display: grid;
  grid-template-columns: 1rem 40rem 1rem;
  align-items: flex-start;
  justify-content: center;
  gap: .75rem;
  padding: 1rem;

  background: var(--gray-500);
  border-radius: 8px;
}

.task p {
  color: var(--gray-100);
}

.task svg {
  cursor: pointer;
}